<!DOCTYPE html>

<html>

<head>
	<link type="text/css" rel="stylesheet" href="/static/main.css"/>

	<title>Wiki {{title[1:]}} History</title>
</head>

<body>
	<a href="/wiki/_history/{{title[1:]}}" class="main-title">Wiki {{title[1:]}} History</a>

	<div class="login-area">
		{% if user %}
		<a class="login-link" href="/wiki/_edit/{{title[1:]}}">edit</a>
		|
		<a class="login-link" href="/wiki/_history/{{title[1:]}}">history</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		{% endif %}

		{% if not user %}
		<a class="login-link" href="/wiki/login">login</a>
		|
		<a class="login-link" href="/wiki/signup">signup</a>
		{% endif %}

		{% if user %}
		{{user}} <a class="login-link" href="/wiki/logout">(logout)<a>
		{% endif %}
	</div>

	<div id="content">
		<table class="history-table">
		{% for p in posts %}
			<tr class="">
				<td class="date-cell">
					{{ p.created.strftime("%a %b %d %I:%M:%S %Y") }}
				</td>

				<td class="content-cell">
					{{ p.content[:100] }}
				</td>

				<td class="link-cell">
					<a class="login-link" href="/wiki/{{title[1:]}}?v={{p.version}}">view</a>
				</td>

				{% if user %}
					<td class="login-cell">
						<a class="login-link" href="/wiki/_edit/{{title[1:]}}?v={{p.version}}">edit</a>
					</td>
				{% endif %}
			</tr>
		{% endfor %}
		</table>
	</div>
</body>

</html>
